<div class="container">
  <div class="navbar">
    <div class="brand">
      Swimming<span>Pools</span>
    </div>
    <div class="nav-links">
      <%= link_to "log in", new_user_session_path, class: "navbar-link" %>
    </div>
 </div>
</div>
